body{
	background: rgb(240, 240, 240);
	color: rgb(20, 20, 20);
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0 25px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: #E54E1F;
}
#titulo {
	text-align:center;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	color: #E54E1F;
	opacity:0.7;
	
}
a {
	text-decoration:none;
}
a:hover {
	color:green;
}
